@use "../../variables" as *;
@use "../../mixins" as *;

.years_navigation {
  margin: 0 5rem;
}

.mobile {
  display: none;
}

.navigation_total {
  @include flex_align_center();
  font-size: .875rem;
}

.navigation_buttons {
  @include flex_align_center();
  margin-top: 1.25rem;
}

.navigation_button {
  @include reset_button_defaults();
  @include flex_center();

  width: 3.125rem;
  aspect-ratio: 1;
  border: 1px solid $gray_blue;
  border-radius: 50%;
  transition: background-color $standard_transition;

  &:not(:last-child) {
    margin-right: 1.25rem;
  }

  &:hover {
    background-color: $white;
  }
}

.button_icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}

@media (max-width: 1000px) {
  .years_navigation {
    margin: 0 2.5rem;
  }
}

@media (max-width: 770px) {
  .years_navigation {
    margin: 0;
  }
}

@media (max-width: 430px) {
  .years_navigation {
    display: none;
  }

  .mobile {
    display: block;
    width: 3.75rem;

    .navigation_buttons {
      margin-top: .625rem;
    }

    .navigation_button {
      width: 1.5625rem;
      aspect-ratio: 1;

      &:not(:last-child) {
        margin-right: .5rem;
      }
    }

    .button_icon {
      width: .75rem;
      height: .75rem;
    }
  }
}