@keyframes loadingState {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.reduced_data {
  font-weight: 500;
  font-size: 3.125rem;
}

.null_animation {
  animation: loadingState 0.5s infinite linear alternate-reverse;
}