@use "../../variables" as *;
@use "../../mixins" as *;

.years_navigation {
  margin-left: 5rem;
}

.navigation_total {
  @include flex_align_center();
  font-size: .875rem;
}

.navigation_buttons {
  @include flex_align_center();
  margin-top: 1.25rem;
}

.navigation_button {
  @include reset_button_defaults();
  @include flex_center();

  width: 3.125rem;
  aspect-ratio: 1;
  border: 1px solid $gray_blue;
  border-radius: 50%;
  transition: background-color $standard_transition;

  &:not(:last-child) {
    margin-right: 1.25rem;
  }

  &:hover {
    background-color: $white;
  }
}

.button_icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}