@use "../../variables" as *;

.main_section {
  padding: 0 1.25rem;
}

.content {
  position: relative;
  max-width: 90rem;
  margin: 0 auto;
  padding: 10.625rem 0 6.5rem;
  border-left: $bg_decor_border;
  border-right: $bg_decor_border;

  &::after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: $bg_decor_color;
    content: "";
  }
}

.h1 {
  position: relative;
  font-size: 3.5rem;
  font-weight: 700;
  padding-left: 5rem;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: .3125rem;
    height: 7.5rem;
    background: linear-gradient($iris_100, $fuchsia_100);
    content: "";
  }
}