@use "../../variables" as *;
@use "../../mixins" as *;

.mobile_period_selector {
  @include flex_space_between();
  margin-top: 2.875rem;
}

.navigation_container {
  @include flex_align_center();
  gap: .625rem;
}

.mobile_navigation {
  width: .375rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba($black_blue, .4);
  transition: background-color $standard_transition;
  cursor: pointer;
}

.navigation_active {
  background-color: $black_blue;
}

.filler {
  width: 3.75rem;
}

@media (min-width: 431px) {
  .mobile_period_selector {
    display: none;
  }
}