@use "../../variables" as *;
@use "../../mixins" as *;

.swiper_container {
  @include flex_space_between();
  gap: 1rem;
  flex-wrap: nowrap;

  margin: 3.5rem auto 0;
}

.fade_in {
  transform: translateY(.25rem);
  opacity: 0;
  animation: fade_in $bezier_slow forwards;
}

.fade_out {
  animation: fade_out $standard_transition forwards;
}

.swiper {
  max-width: 79.875rem;
}

.swiper_button {
  @include reset_button_defaults();
  @include flex_center();

  flex-shrink: 0;
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: $white;
  color: $blue;
  box-shadow: 0 0 .9375rem rgba($blue, .1);
}

.year {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5625rem;
  color: $blue;
}

.description {
  margin-top: .9375rem;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

@media (max-width: 770px) {
  .swiper_container {
    padding: 0;
  }

  .fade_in {
    transform: translateY(.25rem);
    opacity: 0;
    animation: fade_in $bezier_fast forwards;
  }

  .swiper_button {
    display: none;
  }

}

@media (max-width: 430px) {
  .swiper_container {
    align-items: start;
    width: 100%;
    min-height: 10rem;
    margin-top: 1.25rem;
  }

  .year {
    width: fit-content;
    font-size: 1rem;
  }

  .description {
    font-size: .875rem;
    line-height: 1.45em;
  }
}