$white_blue: #f4f5f9;
$black_blue: #42567a;
$gray_blue: #9299a8;
$white: #fff;
$fuchsia_100: #ef5da8;
$iris_100: #5d5fef;
$blue: #3877ee;

$years_circle_color: rgba($black_blue, .2);
$bg_decor_color: rgba($black_blue, .1);
$bg_decor_border: 1px solid $bg_decor_color;

$standard_transition: .3s ease-out;

$bezier_slow: .9s cubic-bezier(.4, .89, .39, .99);

$bezier_fast: .3s cubic-bezier(.4, .89, .39, .99);

$angle: 0;

@keyframes fade_in {
  from {
    opacity: 0;
    transform: translateY(.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}